<!doctype html>
<html lang="en">

<div class="row">
  <div class="container">
    <div class="row ">
      <div class="col-8">
        <strong>Users List </strong>

        <p-table class="table table-hover table-responsive" [columns]="cols" [value]="users" [paginator]="true" [rows]="10" [autoLayout]="true">

  <ng-template pTemplate="header" let-columns>
      <tr>
          <th scope="col"  *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
      <tr scope="row">
          <td scope="col" *ngFor="let col of columns">
            <a href="#" routerLink="/user-profile" (click)="selectUser(user)">
              {{user[col.field]}}
            </a>
          </td>
      </tr>
  </ng-template>
        </p-table>
      </div>
      <div class="col-3">
        <app-pie-chart>[counterMr]="counterMr"</app-pie-chart>
      </div>
    </div>
  </div>
</div>
</html>

